.header__lang-link {
  color: #ffffff;
  text-decoration: none;
}
.header__lang-link:first-of-type {
  padding-right: 18px;
}
.header__lang-link:hover {
  text-decoration: underline;
  transition: 0.45s;
}