.place__title {
  display: grid;
  align-items: end;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  padding-bottom: 48px;
}

@media screen and (max-width: 769px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
  }
}
@media screen and (max-width: 470px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
    padding-left: 16px;
    padding-bottom: 32px;
  }
}
