.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 0 48px;
}

@media screen and (max-width: 769px) {
  .photo-grid {
    padding: 0 24px;
  }
}
