.places {
  display: grid;
  row-gap: 80px;
  padding: 92px 148px;
}

@media screen and (max-width: 1100px) {
  .places {
    padding: 92px 48px;
  }
}
@media screen and (max-width: 769px) {
  .places {
    padding: 88px 24px;
    grid-template-columns: minmax(min-content, 1fr);
    row-gap: 73px;
  }
}
