.cover__subtitle {
  grid-column: 1/3;
  grid-row: 3;
  z-index: 1;
  justify-self: center;
  margin: 0;
  height: 66px;
  width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
}
