.cover__subtitle {
  margin: 0;
  width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
  padding-top: 32px;
}

@media screen and (max-width: 470px) {
  .cover__subtitle {
    width: 267px;
    font-size: 14px;
    line-height: 114%;
    padding-top: 16px;
  }
}
