.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 28px 48px 56px 48px;
  min-height: 52px;
}

@media screen and (max-width: 769px) {
  .header {
    margin: 28px 24px 48px 24px;
  }
}
@media screen and (max-width: 470px) {
  .header {
    margin: 16px 16px 42px 16px;
    min-height: 42px;
  }
}
