.cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 49vh);
  padding: 0 48px;
}

@media screen and (max-width: 1100px) {
  .cover {
    grid-template-rows: repeat(3, 47vh);
    padding: 0;
  }
}
@media screen and (max-width: 999px) {
  .cover {
    grid-template-rows: repeat(3, 42vh);
  }
}
@media screen and (max-width: 769px) {
  .cover {
    grid-template-rows: repeat(3, 32vh);
  }
}
@media screen and (max-width: 470px) {
  .cover {
    grid-template-rows: repeat(2, 13vh);
  }
}
@media screen and (max-width: 320px) {
  .cover {
    grid-template-rows: repeat(2, 12vh);
  }
}
