.cover {
  position: relative;
  display: flex;
  margin: 0 48px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: 100%;
  opacity: 0.8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  height: 57vmax;
}
.cover:hover {
  opacity: 0.3;
  transition: 0.45s;
}

@media screen and (max-width: 1100px) {
  .cover {
    margin: 0;
  }
}
@media screen and (max-width: 490px) {
  .cover {
    height: 57vmin;
  }
}
