.cover__title {
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 1;
  align-self: center;
  justify-self: center;
  margin: 0;
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #FFFFFF;
}
