.cover__title {
  margin: 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 470px) {
  .cover__title {
    width: 250px;
    font-size: 32px;
    line-height: 109%;
  }
}
