.cover__title {
  grid-column: 1/3;
  grid-row: 2;
  z-index: 1;
  justify-self: center;
  margin: 0;
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 470px) {
  .cover__title {
    width: 250px;
    font-size: 32px;
    line-height: 109%;
  }
}
