.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 48px;
}

@media screen and (max-width: 470px) {
  .place {
    display: flex;
    flex-direction: column;
  }
}
