.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 18px;
  padding: 92px 48px 24px 48px;
}

@media screen and (max-width: 769px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}
